<footer>
	<div class="footer-wrapper">
		<div class="footer-content">
			<p>InnoPark – <a href="/tos" class="button-link">Brukervilkår og betingelser</a></p>
			<div class="bmc-container">
				<script
					type="text/javascript"
					src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
					data-name="bmc-button"
					data-slug="jmstuberg0o"
					data-color="#FFDD00"
					data-emoji=""
					data-font="Inter"
					data-text="Buy me a coffee"
					data-outline-color="#000000"
					data-font-color="#000000"
					data-coffee-color="#ffffff"
				></script>
			</div>
		</div>
	</div>
</footer>
<script src="/public/script.js" defer></script>
